:root {
    --main-bg-color: #cf1020;
    --main-text-color: #fff;
    --body-bg-color: #404040;
    --accent-bg-color: #2b1c26;
}

body {
    background: var(--main-bg-color);
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--main-text-color);
    margin: 0;
    text-transform: uppercase;

    font-family: benton-sans-extra-compressed, sans-serif;
    font-weight: 800;
    font-style: normal;
}

h1 {
    border: 3px solid var(--main-text-color);
    background: var(--main-bg-color);
    font-size: 3rem;
    /*letter-spacing: -1px;*/
    padding: 0 10px;
    margin: 0;
    display: inline-block;
}

.superhero {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.superhero-header,
.superhero-footer {
    height: calc(80px - 10px);
    padding: 5px;
    flex: none;
}

.superhero-body {
    background: var(--body-bg-color);
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    padding: 15px;
}

.superhero-content {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
}

.superhero-content .team {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 10px;
}

.superhero-content .search {
    margin: 50px 10px 5px 10px;
    border-radius: 3px;
    width: calc(100% - 20px);
    background: var(--main-bg-color);
    padding: 5px;
    display: flex;
}

.superhero-content .search label {
    margin: 0 1em 0 0;
}

.superhero-content .search input {
    border-radius: 3px;
    border-color: transparent;
    width: 30%;
}

.superhero-content .superhero-list {
    display: flex;
    flex: 1 1 150px;
    flex-wrap: wrap;
}

.superhero-content .team .empty {
    margin: 5px;
    padding: 0;
    width: calc(150px - 6px);
    height: calc(150px - 6px);
    border-radius: 4px;
    border: 3px dashed var(--accent-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.superhero-content .team .empty p {
    margin: 0 auto;
}

.superhero-content .team .hero,
.superhero-content .superhero-list .hero {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: var(--main-bg-color);
    transition: background-position 311ms ease,
    border-top-color 100ms ease,
    border-right-color 100ms ease,
    border-left-color 100ms ease,
    border-bottom-color 100ms ease;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    border: 5px solid transparent;
    text-transform: uppercase;
}

.superhero-content .superhero-list .hero {
    flex: 1 1 100px;
    height: 100px;
}

.superhero-content .superhero-list .hero.onTeam {
    border-color: yellow;
}

.superhero-content .superhero-list .hero.onTeam p {
    transform: rotate(4deg);
}

.superhero-content .team .hero:hover {
    background-position: 15% 35%;
    border-color: var(--main-bg-color);
}

.superhero-content .superhero-list .hero:hover {
    background-position: 45% 30%;
    border-color: var(--main-bg-color);
}

.superhero-content .team .hero p,
.superhero-content .superhero-list .hero p {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: benton-sans-extra-compressed, sans-serif;
    font-size: 1.2rem;
    display: inline-block;
    padding: 4px;
    margin-top: auto;
    transform-origin: center;
    transform: rotate(-4deg);
}

.superhero-content .superhero-list .hero p {
    font-size: 1rem;
}

.superhero-content .powerstats {
    margin: 2rem 10px 0;
    padding: 1em;
    background: #071d26;
    border-radius: 4px;
    width: calc(100% - 40px);
}

.superhero-content .powerstats .stat {
    display: flex;
}

.superhero-content .powerstats .stat .statName {
    width: 65px;
}

.superhero-content .powerstats .stat .statBar {
    height: 3px;
    margin: 9px 5px 0 0;
    transition: width 311ms ease;
    overflow: hidden;
}

.stat:nth-child(1) .statBar { background: #1abc9c; }

.stat:nth-child(2) .statBar { background: #3498db;}

.stat:nth-child(3) .statBar { background: #9b59b6;}

.stat:nth-child(4) .statBar { background: #e74c3c;}

.stat:nth-child(5) .statBar { background: #f1c40f;}

.stat:nth-child(6) .statBar { background: #e67e22;}

.stat:nth-child(7) .statBar { background: #34495e;}

.stat:nth-child(8) .statBar { background: #bdc3c7;}

.stat:nth-child(9) .statBar { background: #2ecc71;}

.stat:nth-child(10) .statBar { background: #16a085;}

.superhero-nav {
    order: -1;
    padding: 1em;
    margin-right: 20px;
    border-radius: 3px;
    background: rgba(147, 128, 108, 0.1);
    max-width: calc(200px - 2em);
    flex: 0 0 12em;

}

.superhero-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.superhero-nav li {
    margin: 10px 0;
}

.superhero-nav li button {
    width: 100%;
    padding: 10px;
    border: 3px solid var(--main-text-color);
    background: none;
    color: var(--main-text-color);
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    font-family: benton-sans-extra-compressed, sans-serif;
    cursor: pointer;
    font-size: 1.2em;
}

.superhero-nav li button:hover {
    border-color: var(--main-bg-color);
    color: var(--main-bg-color);
    background: var(--main-text-color);
}

.superhero-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    letter-spacing: 1px;
    height: 20px;
}

.superhero-footer a {
    color: var(--main-bg-color);
}

@media (max-width: 768px) {
    .superhero-body {
        flex-direction: column;
    }

    .superhero-header {
        display: flex;
        justify-content: center;
    }

    .superhero-nav {
        margin: 0;
        padding: 0;
        flex: 0 0 1em;
        max-width: 100%;
    }

    .superhero-nav ul {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: row;
    }

    .superhero-nav ul li {
        text-align: center;
        width: 50%;
    }

    .superhero-nav li button {
        padding: 10px;
        width: 100%;
        font-size: 1.2em;
    }
}